<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3" style="font-size:6vw;">You've Discovered My Secret!</h1>

      <%secretsListOrdered.forEach(function(secretObject){%>
        <p class="secret-text" style="font-size:3.5vw;"><%=secretObject.secret%></p>
        <%})%>



    <hr>

    <% if (isAuthenticated){ %>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
    <%} else{%>
    <a class="btn btn-light btn-lg" href="/" role="button">Login | Sign Up</a>
    <%} %>


  </div>
</div>

<%- include('partials/footer') %>
